# ðŸ“Œ Pandas Assignment
This notebook contains solutions to all required tasks using Pandas.

In [ ]:
import pandas as pd

## 1ï¸âƒ£ Create DataFrame and Perform Operations

In [ ]:
# Creating the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
    'Salary': [45000, 54000, 50000, 62000, 47000]
}
df = pd.DataFrame(data)
df

### 1(a) Display first five rows

In [ ]:
df.head()

### 1(b) Summary statistics of 'Age' and 'Salary'

In [ ]:
df[['Age', 'Salary']].describe()

### 1(c) Average salary of employees in HR department

In [ ]:
df[df['Department'] == 'HR']['Salary'].mean()

## 2ï¸âƒ£ Add Bonus Column

In [ ]:
df['Bonus'] = df['Salary'] * 0.10
df

## 3ï¸âƒ£ Filter employees aged between 25 and 30

In [ ]:
filtered_df = df[(df['Age'] >= 25) & (df['Age'] <= 30)]
filtered_df

## 4ï¸âƒ£ Group by Department â€” Average Salary

In [ ]:
department_avg = df.groupby('Department')['Salary'].mean()
department_avg

## 5ï¸âƒ£ Sort by Salary and Save to CSV

In [ ]:
sorted_df = df.sort_values(by='Salary', ascending=True)
sorted_df

In [ ]:
sorted_df.to_csv('/mnt/data/sorted_employees.csv', index=False)
'/mnt/data/sorted_employees.csv saved successfully'